@page
@{
    ViewData["Title"] = "Post";
}
<div class="main-content right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="col-xl-10 col-xxl-11 col-lg-10" id="mainContentPost">

            </div>
        </div>
    </div>
</div>
<script src="~/assets/htd/post.js"></script>